@model ForgotPasswordModel

@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/Account/https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/Account/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/Account/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Account/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/Account/css/style.css">

    <title>Forgot Password </title>
</head>
<body>


    <div class="d-md-flex half">
        <div class="bg" style="background-image: url('images/bg_1.jpg');"></div>
        <div class="contents">

            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-12">
                        <div class="form-block mx-auto">
                            <div class="text-center mb-5">
                                <h3 class="text-uppercase">Forgot Password</h3>
                            </div>
                            <div asp-validation-summary="All" style="color:red">
                            </div>
                            @if (TempData["ForgotPassword"] != null)
                            {
                                <div class="alert alert-success" role="alert">
                                    @((string)TempData["ForgotPassword"])
                                </div>
                            }
                            <form asp-action="ForgotPassword" asp-controller="Account" method="post">

                                <div class="form-group first">
                                    <label asp-for="Email">Email</label>
                                    <input asp-for="Email" type="email" class="form-control">
                                </div>

                                <input type="submit" value="Log In" class="btn btn-block py-2 btn-primary">

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>



    <script src="~/Account/js/jquery-3.3.1.min.js"></script>
    <script src="~/Account/js/popper.min.js"></script>
    <script src="~/Account/js/bootstrap.min.js"></script>
    <script src="~/Account/js/main.js"></script>
</body>
</html>